    @charset "UTF-8";
    /* Import Google font */
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin: 0 15vw;
    }
    /* header */
    
    nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        /* margin: 0 150px; */
    }
    nav a {
        color: #000000;
    }
    nav a:hover {
        color: #000000;
    }
    nav ul {
        display: flex;
        flex-flow: row;
        list-style: none;
        justify-content: flex-end;
        margin: 0;
    }
    nav li {
        padding: 15px 5px 0;
    }
    #clover {
        background-color: rgba(220, 220, 220, 0.836);
        border-radius: 100%;
    }
    /* main */
    
    main {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    main .banner {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        /* margin-left: -50%;
        margin-right: -50%; */
    }
    /* paragraph */
    /* table */
    
    table {
        width: 100%;
        background-color: rgba(220, 220, 220, 0.836);
        font-size: 17px;
    }
    table .first-column {
        width: 70%;
    }
    thead th:first-child {
        color: orange;
    }
    tbody th {
        text-align: left;
    }
    /* form */
    
    form {
        width: 100%;
        padding: 0 10%;
    }
    form ul {
        list-style: none;
    }
    form li {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    form * {
        margin: 5px;
    }
    input[type="email"],
    form textarea {
        background-color: rgb(226, 226, 226);
    }
    form textarea {
        resize: vertical;
        overflow: auto;
    }
    form input[type="submit"] {
        background-color: black;
        border-radius: 0;
    }
    #submit-button {
        justify-content: flex-end;
    }
    /* footer */
    
    footer {
        color: #ffffff;
        background-color: #000000;
        padding: 10px 0 0 0;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }